body {
    background-color:#140330;
  }

  .champion {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-gap: 12px 12px;
    padding: 20px;
    background-color: #290661;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 45px;
}

.championImage {
  height: 100px;
  width: 100px; 
}

.championLoadImage{
  margin-top: 25px;
  margin-bottom: 10px;
  height: 300px;
  width: 600px; 
}

.search-form{
  margin-top: 300px;
  margin-bottom: 350px;
}

.container-userSearch{
  margin-left: 145px;
  margin-right: 145px;
}

.rank-emblem{
  height: 80px;
  width: 80px;
}

.mastery-icon{
  height: 60px;
  width: 60px;
  border-radius: 50%
}